<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 items-center text-gray-800">
    <div
        class="flex flex-col items-center space-y-8 mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
        <div class="text-center">
            <h1 class="text-red-700 text-4xl font-extrabold">About Me</h1>
        </div>


        <div class="flex justify-center items-start gap-6 flex-wrap">
            <!-- Box 1 -->
            <div
                class="bg-white rounded-lg shadow-lg p-6 hover:shadow-2xl transition-shadow w-full sm:w-1/2 lg:w-1/4 flex flex-col h-full">
                <h3 class="text-xl font-semibold mb-4">Personal information</h3>
                <ul>
                    <li>Name : Suphakan Wiwasuk</li>
                    <li>Nickname: Ice</li>
                    <li>Birth date: 6 May 2005</li>
                    <li>Nationality : Thai</li>
                </ul>
            </div>

            <!-- Box 2 -->
            <div
                class="bg-white rounded-lg shadow-lg p-6 hover:shadow-2xl transition-shadow w-full sm:w-1/2 lg:w-1/4 flex flex-col h-full">
                <h3 class="text-xl font-semibold mb-4">Education</h3>
                <ul class="list-disc ml-6">
                    <li>Faculty of Information Science for Digital Industry Faculty of Information Science Burapha University</li>
                    <li>Chonburi Sukbot School</li>
                    <li>Nong Ruea Witthaya School</li>
                </ul>
            </div>

            <!-- Box 3 -->
            <div
                class="bg-white rounded-lg shadow-lg p-6 hover:shadow-2xl transition-shadow w-full sm:w-1/2 lg:w-1/4 flex flex-col h-full">
                <h3 class="text-xl font-semibold mb-4">Work experience</h3>
                <ul class="list-disc ml-6">
                    <li>Frontend Developer</li>
                    <li>UI/UX Designer</li>
                    <li>Web Designer</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
